/* ========== GLOBAL STYLES ========== */

body {
	background: #202020;
	margin: 0;
	padding: 0;
	text-align: left;
	font: normal 12px Arial;
	line-height: 20px;
	color: #2b2b2b;
	width:100%;
	min-width:1006px;
	}

div {
	margin: 0;
	padding: 0;
	}
#user-bar-wrapper {
	display: none;
}
img {
	border: none;
	margin: 0;
	padding: 0;
	outline: none; /* KILLS FF OUTLINES */
	}
	
img a:link, img a:visited { outline: none; } /* KILLS FF OUTLINES */

img.borders { 
	border-right:2px solid #333;
	border-bottom:2px solid #333;
	border-left:2px solid #ccc;
	border-top:2px solid #ccc;
	}

img.logo { padding:15px; }

.left { float: left; }
.right { float: right; }
.clear { clear: both; }


/* ========== TEXT & LISTS ========== */

p {
	margin: 0 0 12px 0;
	padding: 0;
	}

p.last { margin-bottom:0; }

h1 {
	color: #2b2b2b;
	font: bold 28px Helvetica;
	}	

h2 {
	color: #73aa24;
	font: normal 18px Arial;
	text-transform:uppercase;
	letter-spacing:1px;
	}
	
h2.home {
	color: #2783a2;
	font: normal 18px Helvetica;
	margin:0;
	letter-spacing:1px;
	padding:0 0 5px;
	}

h3.home {
	color:#2b2b2b;
	font: bold 16px Arial;
	line-height: 18px;
	margin:0;
	padding:0 0 4px;
	}
	
h3.home a:link, h3.home a:visited {
	color:#2b2b2b;
}
	
h3.home a:hover { color:#358ba8; text-decoration:none; }
	
h3 {
	color:#2b2b2b;
	font: bold 16px Arial;
	line-height: 18px;
	}
	
h3 a:link, h3 a:visited {
	color:#358ba8;
}
	
h3 a:hover { text-decoration:underline; }	
	
h4 {
	color:#000;
	font: bold 14px Arial;
	text-transform:uppercase;
	}
	
h5 {
	font: normal 18px Arial;
	color:#333;
	}

h6 { 
	font: normal 16px Arial;
	color:#333;
	line-height:18px;
	}
	
#download-registration-area ul li {list-style: disc;}

.hr {
	border-top:1px solid #dad9d9;
	height:1px;
	width:100%;
	display:block;
	clear:both;
	margin:15px auto;
	}

#join-zenoss { color:#ffffff; font:normal 6pt Arial; text-transform:uppercase; }

ul.news {
	margin:0;
	padding:0;
	list-style-type:none;
	font-weight:bold;
	font-size:11px;
}

ul.news li a:link, ul.news li a:visited { font-weight:normal; font-size: 12px; }

a:link, a:visited {
	color: #358ba8;
	text-decoration: none;
	outline: none;
	}

a:hover {
	text-decoration: underline;
	}

a.unlegacy { font-size:11px; margin-right:35px;  }

.j-rating {padding: 0 10px;}

/* =========== Overall Styles =========== */
	
#header {
	height:127px;
	background:#333 url('../images/bg-comm.png') repeat-x bottom;
	width:100%;
	clear:both;
	display:block;
	margin:0;
	padding:0;
	float:left;
}

#middle {
	width:100%;
	background:#e5e5e5;
	margin:0;
	padding:0;
	float:left;
	position:relative;
	clear:both;
}

#subcontent-top-cap {
	width:1006px;
	height:84px;
	display:block;
	margin:15px auto 0;
	padding:0;
	position: relative;
	display: none;
	}
	
#subcontent-top-cap #home {
	width: 260px;
	height: 45px;
	position: absolute;
	top: 25px;
	left: 20px;
}

#subcontent-top-cap p {
	float:right;
	font: bold 17px Helvetica, Arial;
	color:#81b03d;
	text-transform:uppercase;
	margin: 32px 25px 0 0;
	}

#subcontent {
	width:1006px;
	padding:0;
	margin:0 auto 20px;
	background:#FFF url('../images/content-bottom.png') no-repeat bottom left;
	position: relative;
	}

#subcontent table.pad {
	padding:40px 0 20px;
	margin:0;
	}
	
#subcontent table td.ltcol {
	width:769px;
	}
	
#subcontent table td.rtcol {
	margin:0;
	}

table td.bdr-rt { border-right:1px solid #dad9d9; }
table td.bdr-bt { border-bottom:1px solid #dad9d9; }

/* ========== FOOTER STYLES =========== */

#footer {
	color: #999;
	font: bold 10px Arial;
	line-height:13px;
	text-align:left;
	list-style-type:none;
	width:100%;
	background:#202020 url('../images/bg-footer.png') repeat-x top left;
	clear:both;
	float:left;
	min-height:234px;
	}

#footer table {
	width:1006px;
	margin:20px auto 0;
}

#footer table td { padding-right:10px; }

#footer a:link, #footer a:visited {
	color: #FFF;
	font: bold 10px Arial;
	text-decoration: none;
	}

#footer a:hover {
	color:#CCC;
	text-decoration: none;
	}

#copyright {
	font: normal 10px Arial !important;
	line-height:13px;
	text-align:right;
	padding-top:5px;
	}

ul.sitemap li {
	display:block;
	padding:2px 0 0;
	margin:0;	
	list-style-type:none;
	}
	
ul.sitemap	{
	margin:0 0 10px;
	padding:0;
	}

ul.sitemap li a:visited, ul.sitemap li a:link {
	color:#5f5f5f !important;
	font-weight:normal !important;
}

ul.sitemap li a:hover { text-decoration:underline !important; }

/* SiteBy Code */
#siteby {
	width:116px;
	height:23px;
	background:url('http://linkback.monkee-boy.com/sby-mboy-linkback.png') no-repeat top left;
	display:block;
	}

#siteby span { display:none; }
#siteby a:link, #siteby a:visited { display:block; border-bottom:none; width:116px; height: 23px; }

/* PoweredBy Code */
#poweredby {
	width:156px;
	height:23px;
	background:url('http://linkback.monkee-boy.com/pby-mboy-linkback.png') no-repeat top left;
	display:block;
	}

#poweredby span { display:none; }
#poweredby a:link, #poweredby a:visited { display:block; border-bottom: none; width: 156px; height: 23px; }

/* SOCIAL SMALL VERSION */
ul#socialmedia {
	margin:0;
	padding:0;
	list-style-type:none;
	height:177px;
	width:26px;
	float:left;
	}

ul#socialmedia li {
	display:block;
	margin:0;
	padding:0;
	float:left;
	height:26px;
	}

ul#socialmedia li span { visibility:hidden; }
ul#socialmedia li a:link, ul#socialmedia li a:visited { margin:0; padding:0; text-decoration:none; }
ul#socialmedia li a:hover { text-decoration:none; border-bottom:none; }

.rss {
	background:url('../images/ico-social.png') no-repeat 0 0;
	width:26px; 
	height:28px;
	position:relative;
	display:block;
	}

.twitter {
	background:url('../images/ico-social.png') no-repeat 0 -28px;
	width:26px;
	height:28px;
	position:relative;
	display:block;
	}


.slashdot {
	background:url('../images/ico-social.png') no-repeat 0 -56px;
	width:26px;
	height:28px;
	position:relative;
	display:block;
}

.reddit {
	background:url('../images/ico-social.png') no-repeat 0 -84px;
	width:26px;
	height:28px;
	position:relative;
	display:block;
}


.del {
	background:url('../images/ico-social.png') no-repeat 0 -112px;
	width:26px;
	height:28px;
	position:relative;
	display:block;	
	}
	
.tech {
	background:url('../images/ico-social.png') no-repeat 0 -140px;
	width:26px; 
	height:36px;
	position:relative;
	display:block;	
	}
	
ul#twitter_update_list { margin:5px 0 0 0;padding:0; }
#twitter_update_list li { font-weight: normal !important; color: #2783a2 !important; font-size: 10px !important; margin-bottom: 10px; line-height:15px !important; list-style-type:none !important; }
#twitter_update_list li span a { display: inline !important; font-size: 10px; color:#2783a2 !important; font-weight:normal !important; line-height:15px !iimportant; text-decoration:underline; }
#twitter_update_list li a { display: block; padding-top:3px; color:#5f5f5f !important; }
#twitter_update_list li a:hover {  text-decoration:underline !important; }
#twitter_update_list li a:hover { border-bottom: none; }

ul.rss-items { margin:5px 0 0 0; padding:0; }
ul.rss-items li {
	margin: 0 0 10px;
	padding:0;
	font: normal 10px Arial;
	color: #5f5f5f;
	list-style-type: none;
	line-height: 15px;
}

a.rss-item:link, a.rss-item:visited { font: bold 10px Arial; color:#2783a2 !important; }	
a.rss-item:hover { text-decoration: underline !important; }

/* ======= TOP NAV CONTAINER ======= */

#navcontainer { 
	margin: 0 auto;
	padding: 0;
	/*width:1006px;*/
	width:1006px;
	}

#navlist {
	margin: 0 0 0 -10px;
	padding: 0;
	float:right;
	}
	
#navlist li {
	margin: 0 0 0 20px;
	padding: 0;
	display: inline;
	list-style-type: none;
	float: left;
	color: #999;
	font: bold 8pt Arial;
	text-transform: uppercase;
	}

#navlist li a { 
	margin: 9px 0 0 0;
	padding: 0;
	display: block;
	background: none transparent;
	}

#navlist li a:link, #navlist li a:visited {
	font: bold 13px Arial;
	color: #999;
	display: block;   /* VERY IMPORTANT FOR CORRECT DROP DOWN POSITIONING IN IE7, REMOVE FOR HORIZONTAL POSITIONING */
	padding: 0;
	text-decoration: none;
	border-bottom:none;
	}

#navlist li a:hover, #navlist li a.active { 
	color: #fff !important;
	}

/*#navlist li a.nav1 { 
	width:109px; 
	height: 31px; 
	display: block; 
	position: relative; 
	background:url('../images/bg-topnav-comm.png') 0 0 no-repeat; 
	}
#navlist li a.nav1 * { display:none; }
#navlist li a.nav1.active { background:url('../images/bg-topnav-comm.png') 0 -31px no-repeat; }
#navlist li a.nav1 span.hover { 
	position:absolute; 
	top:0; 
	left:0;
	display:block;
	height: 31px;
	width:109px;
	cursor: pointer;
	background:url('../images/bg-topnav-comm.png') 0 -31px no-repeat; 
	}

#navlist li anav2 { 
	width: 78px;
	height: 31px; 
	display:block;
	position:relative;
	background:url('../images/bg-topnav-comm.png') -109px 0 no-repeat; 
	}
#navlist li a.nav2 * { display:none; }	
#navlist li a.nav2.active { background:url('../images/bg-topnav-comm.png') -109px -31px no-repeat; }
#navlist li a.nav2 span.hover { 
	position:absolute;
	top:0;
	left:0;
	display:block;
	height: 31px; 
	width:78px;
	cursor: pointer;	
	background:url('../images/bg-topnav-comm.png') -109px -31px no-repeat; 
	}

#navlist li a.nav3 { 
	height: 31px; 
	width: 96px;
	display:block;
	position:relative;
	background:url('../images/bg-topnav-comm.png') -188px 0 no-repeat; 
	}
#navlist li a.nav3 * { display:none; }	
#navlist li a.nav3.active { background:url('../images/bg-topnav-comm.png') -188px -31px no-repeat; }
#navlist li a.nav3 span.hover { 
	position:absolute;
	top:0;
	left:0;
	display:block;
	height: 31px; 
	width:96px;
	cursor: pointer;	
	background:url('../images/bg-topnav-comm.png') -188px -31px no-repeat; 
	}

#navlist li a.nav4 { 
	width: 96px;
	height: 31px; 
	display:block;
	position:relative;
	background:url('../images/bg-topnav-comm.png') -283px 0 no-repeat; 
	}
#navlist li a.nav4 * { display:none; }
#navlist li a.nav4.active { background:url('../images/bg-topnav-comm.png') -283px -31px no-repeat; }
#navlist li a.nav4 span.hover { 
	position:absolute;
	top:0;
	left:0;
	display:block;
	height: 31px; 
	width:96px;
	cursor: pointer;	
	background:url('../images/bg-topnav-comm.png') -283px -31px no-repeat; 
	}

#navlist li a.nav5 { 
	width:63px;
	height: 31px; 
	display:block;
	position:relative;
	background:url('../images/bg-topnav-comm.png') -378px 0 no-repeat; 
	}
#navlist li a.nav5 * { display:none; }
*/ 
* html #navlist li a.nav5.active { background: none transparent !important; }
/*
#navlist li a.nav5 span.hover { 
	position:absolute;
	top:0;
	left:0;
	display:block;
	height: 31px; 
	width:63px;
	cursor: pointer;	
	background:url('../images/bg-topnav-comm.png') -378px -31px no-repeat;
	}

#navlist li a.nav6 { 
	width:124px;
	height: 31px; 
	display:block;
	position:relative;
	background:url('../images/bg-topnav-comm.png') -440px 0 no-repeat; 
	}
#navlist li a.nav6 * { display:none; }
#navlist li a.nav6.active { background:url('../images/bg-topnav-comm.png') -440px -31px no-repeat; }
#navlist li a.nav6 span.hover { 
	position:absolute;
	top:0;
	left:0;
	display:block;
	height: 31px; 
	width:124px;
	cursor: pointer;	
	background:url('../images/bg-topnav-comm.png') -440px -31px no-repeat;
	}
*/	
#navlist li a.nav7 {
	margin: 0 !important;
	width:96px;
	height: 31px; 
	display:block;
	position:relative;
	background:url('../images/bg-topnav-download.png') no-repeat; 
	}
#navlist li a.nav7 * { display:none; }
#navlist li a.nav7.active { background:url('../images/bg-topnav-download-hover.png') no-repeat; }
#navlist li a.nav7 span.hover { 
	position:absolute;
	top:0;
	left:0;
	display:block;
	height: 31px; 
	width:96px;
	cursor: pointer;	
	background:url('../images/bg-topnav-download-hover.png') no-repeat;
	}


/* CSS DROP DOWN NAVIGATION CONTROLS */
/*  DROP DOWN NAVIGATION  */ 

#navlist li ul {
	position: absolute;
	left: -999em;
	height: auto;
	margin: 0;
	padding: 0;
	background: #fff;
	border-top: 6px solid #FFF;
	border-bottom:6px solid #FFF;
	border-left:6px solid #FFF;
	border-right:6px solid #FFF;
	/*opacity: .90; 
	filter: alpha(opacity=90); 
	-moz-opacity: 0.9;*/
	list-style-type: none;
	z-index:2000;
}

#navlist li ul li { padding: 0; margin: 0; float:none; }

#navlist li ul a:link, #navlist li ul a:visited  { 
	font: normal 11px Tahoma;
	color: #333 !important; 
	text-decoration: none; 
	display: block !important;
	line-height: 22px;
	padding: 0px 20px 2px 10px;	
	text-align: left;
	}
	
#navlist li ul a:hover 	{ 
	background: #2783a2;
	color: #FFF !important;
	text-decoration: none;
	}

#navlist li:hover ul {
	left: auto;
}

#navlist li:hover ul, #navlist li.sfhover ul {
	left: auto;
}

/* FIXES IE7 STICKY */
#navlist li:hover, #navlist li.hover {
    position: static;
}

/* ======= SUB NAV CONTAINER ======= */

ul#subnav-lt, ul#subnav-rt, #cpanel-lt { margin:0; padding:0; height:26px; float:left; }

ul#subnav-lt, #cpanel-lt { background:url('../images/bg-subnav-lt.png') no-repeat top left; /*width: 370px;*/ overflow: hidden; }
ul#subnav-rt { background:url('../images/bg-subnav-rt_ZEN.gif') no-repeat top right; /*width: 250px;*/ overflow: hidden; }

ul#subnav-lt li, ul#subnav-rt li {
	margin: 0;
	padding: 6px 0 0;
	display: inline;
	list-style-type: none;
	float: left;
	color: #FFF;
	font: bold 8pt Arial;
	}
	
ul#subnav-lt li.message {
	padding-left: 10px;
	padding-right: 10px;
}

ul#subnav-lt li a, ul#subnav-lt rt a { margin: 0; padding: 0; }

ul#subnav-lt li a:link, ul#subnav-lt li a:visited, ul#subnav-rt li a:link, ul#subnav-rt li a:visited {
	font: bold 8pt Arial;
	color: #FFF;
	display: block;   /* VERY IMPORTANT FOR CORRECT DROP DOWN POSITIONING IN IE7, REMOVE FOR HORIZONTAL POSITIONING */
	margin: 0;
	padding: 0 8px;
	text-decoration: none;
	border-bottom:none;
	border-right:1px solid #FFF;
	}

ul#subnav-lt li a.none, ul#subnav-rt li a.none { border-right:none; }

ul#subnav-lt li a:hover, ul#subnav-rt li a:hover { 
	text-decoration:underline;
	}
.searchbar {
	color: #000;
	font: normal 7pt Arial !important;
	background: #fff url('../images/bg-searchbar.png') no-repeat top right !important;
	border: none !important;
	margin: 0 !important;
	padding-right: 20px !important;
	padding-bottom: 4px !important;
	padding-top: 4px !important;
	width: 110px !important;
	height: 11px !important;
	}

/* ======= SECONDARY NAV CONTAINER ======= */

ul#secnavlist {
	margin: 0;
	padding: 0 0 0 25px;
	}

#secnavlist li {
	list-style-type:none;
	display: block;
	border-bottom: 1px solid #dad9d9;
	padding:0 0 0 10px;
	}

#secnavlist li.last { border-bottom: none !important; }

#secnavlist li ul {
	margin:0;
	padding:0;
	}
	
#secnavlist li ul li {
	margin:0;
	padding:0 10px 0 10px;
	display:block;
	border-bottom:none;
	background: url('../images/dash.gif') no-repeat 0px 14px;
	}

#secnavlist a:link, #secnavlist a:visited { 
	font: bold 12px Arial !important; 
	display: block;
	margin: 0px;
	padding:8px 0;
	outline: none; 
	color: #333;
	width:100%
	}
	
#secnavlist a:hover {
	color:#4494ae;
	}
	
#secnavlist li ul li a:link, #secnavlist li ul li a:visited {
	color:#666666;
	font-weight:normal !important;
}

#secnavlist li a.active { color:#4494ae; }
#secnavlist li ul li a.active { color:#4494ae; }

/* ============= CALL OUT BOXES ================ */

.co-hdr {
	width:222px;
	margin:0;
	padding:8px 0;
	border-bottom:3px solid #bfc2c2;
	}
	
.co-hdr.blue { background: #2884a3 url('../images/callout-hdr-blu.png') no-repeat top left; }
.co-hdr.green { background: #7cab39 url('../images/callout-hdr-gre.png') no-repeat top left; }
.co-hdr.gray { background: #8f8f8f url('../images/callout-hdr-gray.png') no-repeat top left; }	
	
.co-hdr span { color:#fff; font: bold 15px Arial; text-transform:uppercase; padding: 0 0 0 10px; }	
	
.co-body{ 
	width:220px;
	margin:0;
	padding:20px 0 10px;
	border-left:1px solid #cecece;
	border-right:1px solid #cecece;
	}
	
.co-body table.co-body-tbl { padding:0px 10px 0px 0; }	
table.co-body-tbl td { padding:0 0 0 10px; }
.co-body p { margin:0; padding:0; }

.co-ftr {
	background:#FFF url('../images/callout-ftr.png') no-repeat bottom left;
	width:222px;
	height:9px;
	margin:0 0 20px;
	padding:0;
	}
