/* Jive Custom Styling */

/* banners */

.bnr-doc { background: url('../images/hdr-comm-doc.png') no-repeat top left; }
.bnr-forums { background: url('../images/hdr-comm-forum.png') no-repeat top left; }
.bnr-zenpacks { background: url('../images/hdr-comm-zenpacks.png') no-repeat top left; }
.bnr-partners { background: url('../images/hdr-comm-partners.png') no-repeat top left; }
.jive-browse-blogs #subcontent-top-cap, 
.jive-body-content-blog #subcontent-top-cap, 
.jive-body-blogadmin #subcontent-top-cap, 
.jive-body-formpage-blog #subcontent-top-cap  { 
	background: url('../images/hdr-comm-blog.png') no-repeat top left;
	display: block;
}
.bnr-development { background: url('../images/hdr-comm-development.png') no-repeat top left; }

/* formatting */

#jive-body-main {
	padding-bottom: 50px;
}
#jive-userbar-droplink ul {
	padding-left: 0;
}

/* header */

#header .jive-userbar-login-welcome {
	padding-top: 2px;
	color: #fff;
}
#header #jive-userbar-user-avatar {
	margin: 2px 5px 0 0;
}
#header #jive-userbar-user span {
	padding: 5px 5px 0 0;
	color: #fff;
}
#header #jive-userbar-user span a:link, 
#header #jive-userbar-user span a:visited, 
#header #jive-userbar-user #jive-userbar-logout a, 
#header .jive-userbar-login-welcome a,
#header .jive-userbar-login-guest,
#header #jive-userbar-login a {
	color: #fff !important;
}
#header #jive-userbar-login {
	padding-left: 10px;
	color: #fff;
}
#header #jive-userbar-login .jive-userbar-login-form {
	border-width: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	padding: 0 10px 0 0;
}
#header #jive-userbar-login .jive-userbar-login-form #login-username,
#header #jive-userbar-login .jive-userbar-login-form #login-password {
	margin-top: -3px;
	width: 40px;
}
* html #header #jive-userbar-login .jive-userbar-login-form #login-username {
	margin-top: -1px;
}
* html #header #jive-userbar-login .jive-userbar-login-form #login-password {
	margin-top: -1px;
}
#header #jive-userbar-login .jive-userbar-login-form .jive-userbar-login-submit {

}
#header #jive-userbar-login .jive-userbar-login-form .jive-userbar-login-submit input {
	padding-left: 0;
	padding-right: 0;
	font-size: 0.86em;
}

/* search positiong */

#jive-userbar-search {
	position: absolute;
    top: -105px;
    right: 8em;
	z-index: 999;
}
* html #jive-userbar-search {
	top: -106px;
}
#jive-spotlight-search {
	top: 100%;
	margin-top: 3px;
	width: 250px;
	left: auto;
	right: 0;
}

* html #jive-spotlight-search {
	
}

/* widget structure */

.jive-widget, 
.jive-content-block-container {
	border-width: 0 !important;
	-moz-border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
	padding-bottom: 9px !important;
	position: relative;
}
.jive-widget-borderlesswidget {
	padding-bottom: 0 !important;
	background: none transparent !important;
}
.jive-widget .jive-widget-header,
.jive-content-block-container .jive-content-block-header {
	border-bottom: 3px solid #BFC2C2;	
}

.jive-widget .jive-widget-header h4, 
.jive-content-block-container .jive-content-block-header {
	font-size: 1em !important;
	overflow: hidden;	
}

.jive-widget .jive-widget-header h4, 
.jive-content-block-container .jive-content-block-header,
.jive-content-block-container h3.jive-content-block-header a.jive-icon-minus, 
.jive-content-block-container h3.jive-content-block-header a.jive-icon-plus,
.jive-widget .jive-widget-controls a:link, 
.jive-widget .jive-widget-controls a:visited   {
	color: #fff !important;
}
.jive-widget .jive-widget-body, 
.jive-content-block-container .jive-content-block-description, 
.jive-content-block-container .jive-content-block, 
.jive-content-list-options {
	border-left: 1px solid #CECECE;
	border-right: 1px solid #CECECE;
	width: auto !important;
	border-bottom: 0;
}
.jive-widget .jive-html-text-widget {
	padding: 5px 10px;
}
.jive-widget-borderlesswidget .jive-widget-body {
	border-width: 0 !important;
}

/* widget headers */

#jive-body-maincol .jive-content-block-container .jive-content-block-header {
	background: url('../images/zenoss-widget-spritemap.png') -265px -130px no-repeat;
	float: none;
	overflow: hidden;
}
#jive-body-full .jive-content-block-container .jive-content-block-header {
	background: url('../images/zenoss-widget-spritemap.png') -20px -293px no-repeat !important;
	float: none;	
}
#jive-body-layout-l .jive-widget .jive-widget-header {
	background: url('../images/zenoss-widget-spritemap.png') -20px -183px no-repeat;
}
#jive-body-layout-ls .jive-body-layout-s .jive-widget .jive-widget-header, 
#jive-body-layout-sl .jive-body-layout-s .jive-widget .jive-widget-header, 
#jive-body-layout-lss .jive-body-layout-s1 .jive-widget .jive-widget-header, 
#jive-body-layout-lss .jive-body-layout-s2 .jive-widget .jive-widget-header,
#jive-body-layout-sls .jive-body-layout-s1 .jive-widget .jive-widget-header,
#jive-body-layout-sls .jive-body-layout-s2 .jive-widget .jive-widget-header {
	background: url('../images/zenoss-widget-spritemap.png') -20px -20px no-repeat !important;
}
#jive-body-layout-ls .jive-body-layout-l .jive-widget .jive-widget-header,
#jive-body-layout-sl .jive-body-layout-l .jive-widget .jive-widget-header {
	background: url('../images/zenoss-widget-spritemap.png') -265px -20px no-repeat;
}
#jive-body-layout-lss .jive-body-layout-l .jive-widget .jive-widget-header,
#jive-body-layout-ll .jive-widget .jive-widget-header, 
#jive-body-layout-sls .jive-widget .jive-widget-header {
	background: url('../images/zenoss-widget-spritemap.png') -20px -346px no-repeat;
}
#jive-body-layout-sss .jive-widget .jive-widget-header {
	background: url('../images/zenoss-widget-spritemap.png') -20px -456px no-repeat;
}
.jive-body-main-special .jive-content-block-container .jive-content-block-header {
	background: url('../images/zenoss-widget-spritemap.png') -20px -619px no-repeat !important;
}	

/* widget footers */

#jive-body-layout-ls .jive-body-layout-l .jive-widget, 
#jive-body-layout-sl .jive-body-layout-l .jive-widget, 
#jive-body-maincol .jive-content-block-container {
	background: #fff url('../images/zenoss-widget-l-footer.gif') bottom no-repeat;
}
#jive-body-layout-lss .jive-body-layout-l .jive-widget,
#jive-body-layout-ll .jive-widget,
#jive-body-layout-sls .jive-widget {
	background: #fff url('../images/zenoss-widget-lss-l-footer.gif') bottom no-repeat;
}
#jive-body-layout-sss .jive-widget {
	background: #fff url('http://community.zenoss.org/themes/userbar-disabled/images/zenoss-widget-sss-s-footer.gif') bottom no-repeat;	
}
#jive-body-full .jive-content-block-container, 
#jive-body-layout-l .jive-widget {
	background: #fff url('../images/zenoss-widget-f-footer.gif') bottom no-repeat !important;	
}
#jive-body-layout-ls .jive-body-layout-s .jive-widget, 
#jive-body-layout-sl .jive-body-layout-s .jive-widget, 
#jive-body-layout-lss .jive-body-layout-s1 .jive-widget, 
#jive-body-layout-lss .jive-body-layout-s2 .jive-widget,
#jive-body-layout-sls .jive-body-layout-s1 .jive-widget,
#jive-body-layout-sls .jive-body-layout-s2 .jive-widget {
	background: #fff url('../images/zenoss-widget-s-footer.gif') bottom no-repeat;
}
.jive-body-main-special .jive-content-block-container {
	background: #fff url('../images/zenoss-widget-special-footer.gif') bottom no-repeat !important;	
}

/* widget changes */

.jive-widget .jive-widget-header .jive-widget-handle-hover {
	background: none transparent !important;
}
.jive-widget .jive-widget-header .jive-widget-showhide {
	top: 5px;
}
.jive-content-block-container .jive-documents-subspaces-colhdrs,
.jive-content-block-container .jive-discussions-subspaces-colhdrs {
	position: absolute;
	top: 0;
	right: 0;
	float: none;
}
.jive-content-block-container .jive-documents-subspaces-colhdrs .jive-documents-subspaces-colhdrs-lastmod,
.jive-content-block-container .jive-discussions-subspaces-colhdrs .jive-discussions-subspaces-colhdrs-lastmod {
	width: auto;
	color: #fff;
}
#jive-body-layout-lss .jive-body-layout-l .jive-widget-container-large {
	margin-right: 493px;
}
#jive-body-layout-sls .jive-body-layout-l .jive-widget-container-large {
	margin: 0 246px 0 247px;
}
.jive-widget-edit-container {
	margin: 10px;
}
.jive-widget-communityactionswidget ul {
	margin-top: 12px !important;
}

/* Zenoss Sidebar */

.zenoss-sidebar {
	border-width: 0 !important;
	-moz-border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
	padding-bottom: 9px !important;
	position: relative;
}
* html .zenoss-sidebar {
	padding-bottom: 7px !important;
}
.zenoss-sidebar .jive-sidebar-header h4 {
	color: #fff !important;
	font-size: 1em !important;
}
.zenoss-sidebar .jive-sidebar-body, .zenoss-sidebar .jive-sidebar-byline {
	border-left: 1px solid #CECECE;
	border-right: 1px solid #CECECE;
	width: auto !important;
	border-bottom: 0;
}
.zenoss-sidebar .jive-sidebar-byline {
	border-bottom: 3px solid #BFC2C2;
	background-image: none;
}
.zenoss-sidebar {
	background: #fff url('../images/zenoss-widget-s-footer.gif') bottom no-repeat;
}
.zenoss-sidebar .jive-sidebar-header {
	background: url('../images/zenoss-widget-spritemap.png') -20px -75px no-repeat;
	border-bottom: 3px solid #BFC2C2;
}

/* Zenoss Userbar */

#zenoss-panel {
	float: right;
	overflow: hidden;
}
#zenoss-userbar {
	margin-right: 13em;
}

/* Misc */

.clear {
	clear: both;
	margin: 0;
	padding: 0;
	line-height: 0;
	overflow: hidden;
}
